<div class="exterior_container">
  <div class="my_title_container">
    <h1>Current reservations</h1>
  </div>
  <div class="subtitles">
    <h2><%= link_to "My Vehicles", dashboard_users_path, class: "non-selected"%></h2>
    <h2><%= link_to "My Reservations", reservations_path, class: "selected"%></h2>
  </div>

  <% @reservations.each do |reservation| %>
    <div class="card-product-dashboard">
      <%= cl_image_tag reservation.vehicle.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="dashboard-card-info">
        <div class="card-product-info">
          <div class="top-section">
            <div class="basic-infos">
              <h2><%= reservation.vehicle.title%></h2>
              <p><%= reservation.vehicle.description%></p>
            </div>
            <div style="vertical-align">
              <span class="badge pending">⌛ Pending</span>
            </div>
          </div>
        </div>
        <div class="bottom-section">
          <div class="reservation-infos">
            <div>
              <% days = ((reservation.end_date) - (reservation.start_date)).to_i  %>
              <h2><%= (days * reservation.vehicle.price) + reservation.vehicle.price%> CHF</h2>
            </div>
          </div>
          <div class="dashboard-buttons">
            <div class="owner-infos">
              <div class="avatar_h5">
                <% user = User.find(reservation.user_id) %>
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, id: "avatar-bordered" %>
                <% else %>
                  <img src="https://picsum.photos/200/200" class="avatar-bordered" />
                <% end %>
                <h5><%= reservation.user.user_name%></h5>
              </div>
              <p>📅 From: <%=reservation.start_date%> to <%=reservation.end_date%></p>
            </div>
            <div class="buttons">
              <%= link_to("Leave a review", "#", class: "btn btn-outline-secondary") %>
              <%= link_to("Finish", "#", class: "btn btn-outline-secondary") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
