<div container >
<h1> Reservez </h1>
  <div class="container_cards">
    <div class="container-card-product">
      <div class="card-image">
        <div class="img-banner">
          <%= cl_image_tag @vehicle.photo.key, height: 465, width: 600, crop: :fill %>
        </div>

        <div class="card-product-infos">
          <h2 class= "card_title"><%= @vehicle.title %></h2>
          <p class= "card__dsc"><%= @vehicle.description %></p>
          <p>Rating: <%= @vehicle.avg_rating ? @vehicle.avg_rating : 'Pas de votes' %></p>
        </div>
      </div> 
    </div>

      <!--booking --> 

    <div class="booking-widget">
      <div class='booking-widget__header'>
          <figure>
            <figcaption class='header-caption'>
              <h3 id="">Trotinette</h3>
              <span id=""><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @vehicle.address %></span>
              <p><%= @vehicle.price %> CHF</p>
            </figcaption>         
          </figure>
      </div>
      <div class='booking-widget__form'>
        <%= simple_form_for [@vehicle, @reservation] do |f| %>
          <label for='check-in'>Check in</label>
          <div id='check-in' class='form-field'>
          <%= f.input :start_date, as: :date, html5: true %>
          </div>
          
          <label for='check-in'>Check out</label>
          <div id='check-out' class='form-field'>
          <%= f.input :end_date, as: :date, html5: true %>
          </div>

          <div class=' form-field form-field__checkbox'>
            <input type="checkbox" id='flexibleDates' value="">
          </div>
            <label for="flexibleDates">Flexible dates</label>

          <%= f.submit "Book", class: "bn3" %> 
          <% end %>
    </div>
  </div>
  
  <div>
    <%= link_to('Back', vehicles_path, class: 'bn4') %>
    <% if current_user == @vehicle.user %>
      | <%= link_to('Edit', edit_vehicle_path, class: 'bn4') %>
      | <%= link_to('Delete', vehicle_path(@vehicle), method: :delete, data: { confirm: "Are you sure?" }, class: 'bn4') %>
    <% end %>
  </div>
</div>
